<div class="login">
    <a href=""><i class="fa-regular fa-user"></i></a>
    <p><a asp-controller="Account" asp-action="Login">Login</a></p>
    <p>/</p>
    <p><a asp-controller="Account" asp-action="Register">Register</a></p>
</div>
