@{
    ViewData["Title"] = "Thông báo";
}

<h1>@ViewData["Title"]</h1>
<div class="Message">
    <h1>
        <p>
            Hãy kiểm tra hòm thư để biết cách xác thực tài khoản
        </p>
    </h1>
</div>